﻿<br />
<div id="greeting"></div>
<div id="tableBlock"></div>
<div id="softwareTable"></div>

@section scripts
{
<script type="text/javascript">
    $(document).ready(function () {
        GreetUser();
        GetAllInfo();
    });

    function GetAllSoftware() {
        $.ajax({
            url: '/api/softs/',
            type: 'GET',
            data: 'json',
            contentType: "application/json; charset=utf-8",
            headers: {
                Accept: "application/json"
            },  
            dataType: 'json',
            success: function (data) {
                WriteSoft(data);
            }
        })
    }

    function GetAllInfo() {
        $.ajax({
            url: '/api/users/',
            type: 'GET',
            data: 'json',
            contentType: 'application/json; charset=utf-8',
            headers: {
                Accepts: 'application/json'
            },   
            dataType: 'json',
            success: function (data) {
                WriteUsers(data);
                GetAllSoftware();
            },
            error: function () {
                WriteUsers(null);
            }
        })
        
    }

    function GreetUser() {
        $.ajax({
            url: '/api/users/0',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                WriteUserName(data);
            },
            error: function () {
                $("#greeting").html("<a>Hello, unauthorized user!</a>");
            }
        })
    }
    function WriteUserName(user) {
        var strResult = "<a> Hello, " + user.Name + "!</a>";
        $("#greeting").html(strResult);
    }

    function WriteUsers(users) {
        var strResult = "<table><th>ID</th><th>Username</th><th>Registration Date</th><th>Software Count</th>";
        if (users !== null) {
            $.each(users, function (index, user) {
                strResult += "<tr><td>" + user.Id + "</td><td>" + user.Name + "</td><td>" + user.RegDate + "</td><td id=tduser" + user.Id + ">0</td></tr > "
            });
            
        }
        strResult += "</table>";
        $("#tableBlock").html(strResult);
    }

    function WriteSoft(software) {
        var strResult = "<table><th>ID</th><th>UserID</th><th>Name</th>";
        if (software !== null) {
            $.each(software, function (index, soft) {
                strResult += "<tr><td>" + soft.Id + "</td><td>" + soft.UserId + "</td><td>" + soft.Name + "</td></tr>"
                var tdid = "#tduser" + soft.UserId;
                var newCount = Number($(tdid).html()) + 1;
                $(tdid).html(newCount);
            });

        }
        strResult += "</table>";
        $("#softwareTable").html(strResult);
    }

</script>
}